{% extends "base.html" %}

{% block header %}
    <!-- Page Header -->
    <section class="pageHeader section mainSection scrollAnchor darkSection" id="pageHeader">
        {% include "shared/header.html" %}
    </section><!-- end of Page Header -->
{% endblock %}

{% block content %}
  <!-- Page Info -->
        <div class="pageInfo">
          <div class="cover"></div>
          <div class="container">
            <div class="row">

              <div class="col-md-4">
                <h2 class="pageTitle">Cloud Hosting</h2>
              </div><!-- end of col-md-4 -->

              <div class="col-md-8">
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li class="active">Cloud Hosting</li>
                </ol><!-- end of breadcrumb -->
              </div><!-- end of col-md-8 -->

            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of page info -->

          <!-- Pricing -->
      <section class="pricing section mainSection scrollAnchor lightSection" id="pricing">
        <div class="sectionWrapper">
          <div class="container">
            <div class="row">

              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Great Plans, Different Packages And Incredible Prices :)
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
              </div><!-- end of section title -->


              <div class="col-md-4">
                <div class="pricingTable">
                  <header class="pricingHeader clearfix">
                    <h3 class="pricingTitle planTitle">
                      Basic Plan
                      <br>
                      <span>Ideal for Starter Websites</span>
                    </h3>
                    <span class="pricingPerMonth">10 $ Month</span>
                  </header><!-- end pricing header -->
                  <img  src="http://placehold.it/370x181/" title="Plan 1" alt="Plan 1">
                  <ul class="pricingBody planBody">
                    <li>
                      Disk Space
                      <span>300 GB</span>
                    </li>
                    <li>
                      Data Transfer
                      <span>Unlimited</span>
                    </li>
                    <li>
                      Ftp Accounts
                      <span>25</span>
                    </li>
                    <li>
                      Email Boxes
                      <span>1000</span>
                    </li>
                    <li>
                      Free Domains
                      <span>1</span>
                    </li>
                    <li>
                      Support
                      <span>24Hours</span>
                    </li>
                    <li class="clearfix">
                      <p><a class="generalLink moreDetails" href="#" title="More Details">More Details</a></p>
                      <p><a class="generalLink orderNow" href="#" title="Order it Now">Order it Now</a></p>
                    </li>
                  </ul><!-- end pricing body -->
                </div><!-- end of pricing table -->
              </div>

              <div class="col-md-4">
                <div class="pricingTable">
                  <header class="pricingHeader clearfix">
                    <h3 class="pricingTitle planTitle">
                      Professional Plan
                      <br>
                      <span>Ideal for Larger Websites</span>
                    </h3>
                    <div class="pricingPerMonth">20 $ Month</div>
                  </header><!-- end pricing header -->
                  <img  src="http://placehold.it/370x181/" title="Plan 2" alt="Plan 2">
                  <ul class="pricingBody planBody">
                    <li>
                      Disk Space
                      <span>300 GB</span>
                    </li>
                    <li>
                      Data Transfer
                      <span>Unlimited</span>
                    </li>
                    <li>
                      Ftp Accounts
                      <span>25</span>
                    </li>
                    <li>
                      Email Boxes
                      <span>1000</span>
                    </li>
                    <li>
                      Free Domains
                      <span>1</span>
                    </li>
                    <li>
                      Support
                      <span>24Hours</span>
                    </li>
                    <li class="clearfix">
                      <p><a class="generalLink moreDetails" href="#" title="More Details">More Details</a></p>
                      <p><a class="generalLink orderNow" href="#" title="Order it Now">Order it Now</a></p>
                    </li>
                  </ul><!-- end pricing body -->
                </div><!-- end of pricing table -->
              </div>

              <div class="col-md-4">
                <div class="pricingTable">
                  <header class="pricingHeader clearfix">
                    <h3 class="pricingTitle planTitle">
                      Ultra Plan
                      <br>
                      <span>Ideal for Starter Websites</span>
                    </h3>
                    <span class="pricingPerMonth">30 $ Month</span>
                  </header><!-- end pricing header -->
                  <img  src="http://placehold.it/370x181/" title="Plan 1" alt="Plan 1">
                  <ul class="pricingBody planBody">
                    <li>
                      Disk Space
                      <span>300 GB</span>
                    </li>
                    <li>
                      Data Transfer
                      <span>Unlimited</span>
                    </li>
                    <li>
                      Ftp Accounts
                      <span>25</span>
                    </li>
                    <li>
                      Email Boxes
                      <span>1000</span>
                    </li>
                    <li>
                      Free Domains
                      <span>1</span>
                    </li>
                    <li>
                      Support
                      <span>24Hours</span>
                    </li>
                    <li class="clearfix">
                      <p><a class="generalLink moreDetails" href="#" title="More Details">More Details</a></p>
                      <p><a class="generalLink orderNow" href="#" title="Order it Now">Order it Now</a></p>
                    </li>
                  </ul><!-- end pricing body -->
                </div><!-- end of pricing table -->
              </div>

            </div><!-- end of row-->
          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end of pricing section -->


      <!-- Facts -->
      <section class="facts section mainSection scrollAnchor graySection" id="facts">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">
              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Facts You Must Know About Us :)
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
              </div><!-- end of section title -->

            </div><!-- end of row -->

            <div class="row factsContents">

              <div class="col-md-3 factsWrapper">

                <div class="fact singleFact factBox">
                  <div class="factIcon factIcon1"></div>
                  <h4 class="factTitle">
                    <a href="#">We Manage 5,000 Servers</a>
                  </h4>
                  <p class="factDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div><!-- end of fact -->

                <div class="fact singleFact factBox">
                  <div class="factIcon factIcon2"></div>
                  <h4 class="factTitle">
                    <a href="#">2,000 Reseller Members</a>
                  </h4>
                  <p class="factDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div><!-- end of fact -->

              </div><!-- end of facts wrapper -->

              <div class="col-md-6 factsImg">
                <div class="imacWrapper">
                  <img alt="imac" class="imac" src="{{ STATIC_PREFIX }}images/i-mac.png" title="design perview">
                </div>
              </div><!-- end of fact img -->

              <div class="col-md-3 factsWrapper">
                <div class="fact singleFact factBox">
                  <div class="factIcon factIcon3"></div>
                  <h4 class="factTitle">
                    <a href="#">100 % Uptime &amp; Support</a>
                  </h4>
                  <p class="factDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div><!-- end of fact -->

                <div class="fact singleFact factBox">
                  <div class="factIcon factIcon4"></div>
                  <h4 class="factTitle">
                    <a href="#">1,000 % Growth</a>
                  </h4>
                  <p class="factDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div><!-- end of fact -->

              </div><!-- end of facts wrapper -->
            </div><!-- end of row -->

          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end of facts section -->


      <!-- Features -->
      <section class="features section mainSection scrollAnchor lightSection" id="features">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">
              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Don’t Hesitate, Seven Host Provide Awesome &amp; Perfect Features For You
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
              </div><!-- end of section title -->
            </div><!-- end of row -->

            <div class="row">
              <div class="featuresCarousel carousel owl-carousel featuresGallary">

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-sun-o"></i></div>
                    <h4 class="featureName"><a href="#">Free Instant Setup!</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-building-o"></i></div>
                    <h4 class="featureName"><a href="#">Awesome Control Panel</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-lock"></i></div>
                    <h4 class="featureName"><a href="#">Secure Your Website</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-desktop"></i></div>
                    <h4 class="featureName"><a href="#">Free Website Builder</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-sun-o"></i></div>
                    <h4 class="featureName"><a href="#">Free Instant Setup!</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-building-o"></i></div>
                    <h4 class="featureName"><a href="#">Awesome Control Panel</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-lock"></i></div>
                    <h4 class="featureName"><a href="#">Secure Your Website</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-desktop"></i></div>
                    <h4 class="featureName"><a href="#">Free Website Builder</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-sun-o"></i></div>
                    <h4 class="featureName"><a href="#">Free Instant Setup!</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-building-o"></i></div>
                    <h4 class="featureName"><a href="#">Awesome Control Panel</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-lock"></i></div>
                    <h4 class="featureName"><a href="#">Secure Your Website</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

                <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                  <div class="singleFeature">
                    <div class="featureIcon"><i class="animated fa fa-desktop"></i></div>
                    <h4 class="featureName"><a href="#">Free Website Builder</a></h4>
                    <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div><!-- end of single feature -->
                </div><!-- end of single feature wrapper -->

              </div><!-- end of features gallary -->

            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end features section -->


      <!-- Purchase -->
      <section class="purchase section mainSection scrollAnchor lightDarkSection" id="purchase">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">
              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Why You Are Late! Purchase Seven Host Template Now
                </h2><!-- end of sectionHeader -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
              </div><!-- end of section title -->

              <div class="links">
                <a class="generalLink lg" href="#">Purchase Now</a>
              </div><!-- end of links -->

            </div><!-- end of row -->


          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end purchase section -->

{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        var link = "cloud";
    </script>
{% endblock %}