{% extends "base.html" %}

{% block main_slider %}
    <!-- Slider -->
    <section class="slider section mainSection scrollAnchor darkSection" id="slider">

        <div id="mainSlider" class="mainSlider homeSlider_2  owl-carousel sliderStyle1">

            <div id="slide1" class="item slide">
                <div class="cover"></div><!-- end of cover -->
                <img  src="{{ MEDIA_URL }}slider/slider-1.jpg" title="Slide 1" alt="slide 1">
                <div class="captions">
                    <h2 class="animated">Welcome To Seven Host ,<br>Your Trusted &amp; Reliable Hosting Provider</h2>
                    <p class="animated">
                        Lorem Ipsum is simply dummy of the printing and typesetting "s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                    <p class="links animated">
                        <a class="animated link sliderLinks light details" href="#" title="More Details About Hosting Servers">More Details About Hosting Servers</a>
                    </p><!-- end of links -->
                </div><!-- end of captions -->
            </div><!-- end of slide -->

            <div id="slide2" class="item slide">
                <div class="cover"></div><!-- end of cover -->
                <img  src="{{ MEDIA_URL }}slider/slider-2.jpg" title="Slide 2" alt="slide 2">
                <div class="captions">
                    <h2 class="animated">Welcome To Seven Host ,<br>Your Trusted &amp; Reliable Hosting Provider</h2>
                    <p class="animated">
                        Lorem Ipsum is simply dummy of the printing and typesetting "s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                    <p class="links animated">
                        <a class="animated link sliderLinks light details" href="#" title="More Details About Hosting Servers">More Details About Hosting Servers</a>
                    </p><!-- end of links -->
                </div><!-- end of captions -->
            </div><!-- end of slide -->

            <div id="slide3" class="item slide">
                <div class="cover"></div><!-- end of cover -->
                <img  src="{{ MEDIA_URL }}slider/slider-3.jpg" title="Slide 3" alt="slide 3">
                <div class="captions">
                    <h2 class="animated">Welcome To Seven Host ,<br>Your Trusted &amp; Reliable Hosting Provider</h2>
                    <p class="animated">
                        Lorem Ipsum is simply dummy of the printing and typesetting "s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                    <p class="links animated">
                        <a class="animated link sliderLinks light details" href="#" title="More Details About Hosting Servers">More Details About Hosting Servers</a>
                    </p><!-- end of links -->
                </div><!-- end of captions -->
            </div><!-- end of slide -->

            <div id="slide4" class="item slide">
                <div class="cover"></div><!-- end of cover -->
                <img  src="{{ MEDIA_URL }}slider/slider-4.jpg" title="Slide 4" alt="slide 4">
                <div class="captions">
                    <h2 class="animated">Welcome To Seven Host ,<br>Your Trusted &amp; Reliable Hosting Provider</h2>
                    <p class="animated">
                        Lorem Ipsum is simply dummy of the printing and typesetting "s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                    <p class="links animated">
                        <a class="animated link sliderLinks light details" href="#" title="More Details About Hosting Servers">More Details About Hosting Servers</a>
                    </p><!-- end of links -->
                </div><!-- end of captions -->
            </div><!-- end of slide -->
        </div><!-- end of main slider -->

    </section><!-- end of slider -->
{% endblock %}

{% block header %}
    {% include "shared/header.html" %}
{% endblock %}

{% block content %}

    <!-- Welcome -->
    <section class="welcome welcome2 section mainSection scrollAnchor lightSection" id="welcome">
        <div class="sectionWrapper">
            <div class="container">

                <div class="row">

                    <div class="col-md-12 sectionTitle">
                        <h2 class="sectionHeader">
                            Welcome To Seven Host , Awesome Hosting Template
                            <span class="generalBorder"></span>
                        </h2><!-- end of sectionHeader -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                    </div><!-- end of section title -->

                </div><!-- end of row -->

                <div class="row">
                    <div class="servicesCarousel servicesGallary">

                        <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                            <div class="singleService singleService2 clearfix">
                                <div class="serviceIcon">
                                    <div class="servicesIconBase servicesBg-1"></div>
                                </div><!-- end of services icon -->
                                <div class="servicesContents">
                                    <h3 class="serviceName">System Admin</h3>
                                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                                    <a class="readMore generalLink" href="#">Read More</a>
                                </div><!-- end of services contents -->
                            </div><!-- end of single service -->
                        </div><!-- end of single service wrapper -->

                        <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                            <div class="singleService singleService2 clearfix">
                                <div class="serviceIcon">
                                    <div class="servicesIconBase servicesBg-2"></div>
                                </div><!-- end of services icon -->
                                <div class="servicesContents">
                                    <h3 class="serviceName">Backups &amp; Storage</h3>
                                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                                    <a class="readMore generalLink" href="#">Read More</a>
                                </div><!-- end of services contents -->
                            </div><!-- end of single service -->
                        </div><!-- end of single service wrapper -->

                        <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                            <div class="singleService singleService2 clearfix">
                                <div class="serviceIcon">
                                    <div class="servicesIconBase servicesBg-3"></div>
                                </div><!-- end of services icon -->
                                <div class="servicesContents">
                                    <h3 class="serviceName">24 / 7 Live Support</h3>
                                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                                    <a class="readMore generalLink" href="#">Read More</a>
                                </div><!-- end of services contents -->
                            </div><!-- end of single service -->
                        </div><!-- end of single service wrapper -->

                        <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                            <div class="singleService singleService2 clearfix">
                                <div class="serviceIcon">
                                    <div class="servicesIconBase servicesBg-4"></div>
                                </div><!-- end of services icon -->
                                <div class="servicesContents">
                                    <h3 class="serviceName">Worldwide locations</h3>
                                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                                    <a class="readMore generalLink" href="#">Read More</a>
                                </div><!-- end of services contents -->
                            </div><!-- end of single service -->
                        </div><!-- end of single service wrapper -->

                    </div><!-- end of services gallary -->

                </div><!-- end of row -->
            </div><!-- end of container -->
        </div><!-- end of section wrapper -->
    </section><!-- end welcome section -->

    <!-- Facts -->
    <section class="facts section mainSection scrollAnchor graySection" id="facts">
        <div class="sectionWrapper">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 sectionTitle">
                        <h2 class="sectionHeader">
                            Facts You Must Know About Us :)
                            <span class="generalBorder"></span>
                        </h2><!-- end of sectionHeader -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                    </div><!-- end of section title -->

                </div><!-- end of row -->

                <div class="row factsContents">

                    <div class="col-md-3 factsWrapper">

                        <div class="fact singleFact factBox">
                            <div class="factIcon factIcon1"></div>
                            <h4 class="factTitle">
                                <a href="#">We Manage 5,000 Servers</a>
                            </h4>
                            <p class="factDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div><!-- end of fact -->

                        <div class="fact singleFact factBox">
                            <div class="factIcon factIcon2"></div>
                            <h4 class="factTitle">
                                <a href="#">2,000 Reseller Members</a>
                            </h4>
                            <p class="factDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div><!-- end of fact -->

                    </div><!-- end of facts wrapper -->

                    <div class="col-md-6 factsImg">
                        <div class="imacWrapper">
                            <img alt="imac" class="imac" src="{{ STATIC_PREFIX }}images/i-mac.png" title="design perview">
                        </div>
                    </div><!-- end of fact img -->

                    <div class="col-md-3 factsWrapper">
                        <div class="fact singleFact factBox">
                            <div class="factIcon factIcon3"></div>
                            <h4 class="factTitle">
                                <a href="#">100 % Uptime &amp; Support</a>
                            </h4>
                            <p class="factDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div><!-- end of fact -->

                        <div class="fact singleFact factBox">
                            <div class="factIcon factIcon4"></div>
                            <h4 class="factTitle">
                                <a href="#">1,000 % Growth</a>
                            </h4>
                            <p class="factDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div><!-- end of fact -->

                    </div><!-- end of facts wrapper -->
                </div><!-- end of row -->

            </div><!-- end of container -->
        </div><!-- end of section wrapper -->
    </section><!-- end of facts section -->

    <!-- Pricing -->
    <section class="pricing pricing2 section mainSection scrollAnchor graySection" id="pricing">
        <div class="sectionWrapper">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 sectionTitle">
                        <h2 class="sectionHeader">
                            Great Plans, Different Packages And Incredible Prices :)
                            <span class="generalBorder"></span>
                        </h2><!-- end of sectionHeader -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                    </div><!-- end of section title -->

                    <div class="col-md-4">
                        <div class="pricingTable">
                            <header class="pricingHeader clearfix">
                                <h3 class="pricingTitle planTitle">
                                    Basic Plan
                                    <br>
                                    <span>Ideal for Starter Websites</span>
                                </h3>
                                <span class="pricingPerMonth">10 $ Month</span>
                            </header><!-- end pricing header -->
                            <ul class="pricingBody planBody">
                                <li>
                                    Disk Space
                                    <span>300 GB</span>
                                </li>
                                <li>
                                    Data Transfer
                                    <span>Unlimited</span>
                                </li>
                                <li>
                                    Ftp Accounts
                                    <span>25</span>
                                </li>
                                <li>
                                    Email Boxes
                                    <span>1000</span>
                                </li>
                                <li>
                                    Free Domains
                                    <span>1</span>
                                </li>
                                <li>
                                    Support
                                    <span>24Hours</span>
                                </li>
                                <li class="clearfix">
                                    <p><a class="generalLink moreDetails" href="#" title="More Details">More Details</a></p>
                                    <p><a class="generalLink orderNow" href="#" title="Order it Now">Order it Now</a></p>
                                </li>
                            </ul><!-- end pricing body -->
                        </div><!-- end of pricing table -->
                    </div>

                    <div class="col-md-4">
                        <div class="pricingTable">
                            <header class="pricingHeader clearfix">
                                <h3 class="pricingTitle planTitle">
                                    Professional Plan
                                    <br>
                                    <span>Ideal for Larger Websites</span>
                                </h3>
                                <div class="pricingPerMonth">20 $ Month</div>
                            </header><!-- end pricing header -->
                            <ul class="pricingBody planBody">
                                <li>
                                    Disk Space
                                    <span>300 GB</span>
                                </li>
                                <li>
                                    Data Transfer
                                    <span>Unlimited</span>
                                </li>
                                <li>
                                    Ftp Accounts
                                    <span>25</span>
                                </li>
                                <li>
                                    Email Boxes
                                    <span>1000</span>
                                </li>
                                <li>
                                    Free Domains
                                    <span>1</span>
                                </li>
                                <li>
                                    Support
                                    <span>24Hours</span>
                                </li>
                                <li class="clearfix">
                                    <p><a class="generalLink moreDetails" href="#" title="More Details">More Details</a></p>
                                    <p><a class="generalLink orderNow" href="#" title="Order it Now">Order it Now</a></p>
                                </li>
                            </ul><!-- end pricing body -->
                        </div><!-- end of pricing table -->
                    </div>

                    <div class="col-md-4">
                        <div class="pricingTable">
                            <header class="pricingHeader clearfix">
                                <h3 class="pricingTitle planTitle">
                                    Ultra Plan
                                    <br>
                                    <span>Ideal for Higher Traffic Websites</span>
                                </h3>
                                <div class="pricingPerMonth">30 $ Month</div>
                            </header><!-- end pricing header -->
                            <ul class="pricingBody planBody">
                                <li>
                                    Disk Space
                                    <span>300 GB</span>
                                </li>
                                <li>
                                    Data Transfer
                                    <span>Unlimited</span>
                                </li>
                                <li>
                                    Ftp Accounts
                                    <span>25</span>
                                </li>
                                <li>
                                    Email Boxes
                                    <span>1000</span>
                                </li>
                                <li>
                                    Free Domains
                                    <span>1</span>
                                </li>
                                <li>
                                    Support
                                    <span>24Hours</span>
                                </li>
                                <li class="clearfix">
                                    <p><a class="generalLink moreDetails" href="#" title="More Details">More Details</a></p>
                                    <p><a class="generalLink orderNow" href="#" title="Order it Now">Order it Now</a></p>
                                </li>
                            </ul><!-- end pricing body -->
                        </div><!-- end of pricing table -->
                    </div>

                </div><!-- end of row-->
            </div><!-- end of container -->
        </div><!-- end of section wrapper -->
    </section><!-- end of pricing section -->


    <!-- Features -->
    <section class="features features2 section mainSection scrollAnchor lightSection" id="features">
        <div class="sectionWrapper">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 sectionTitle">
                        <h2 class="sectionHeader">
                            Don’t Hesitate, Seven Host Provide Awesome &amp; Perfect Features For You
                            <span class="generalBorder"></span>
                        </h2><!-- end of sectionHeader -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                    </div><!-- end of section title -->
                </div><!-- end of row -->

                <div class="row">
                    <div class="featuresCarousel carousel owl-carousel featuresGallary">

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-sun-o"></i></div>
                                <h4 class="featureName"><a href="#">Free Instant Setup!</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-building-o"></i></div>
                                <h4 class="featureName"><a href="#">Awesome Control Panel</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-lock"></i></div>
                                <h4 class="featureName"><a href="#">Secure Your Website</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-desktop"></i></div>
                                <h4 class="featureName"><a href="#">Free Website Builder</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-sun-o"></i></div>
                                <h4 class="featureName"><a href="#">Free Instant Setup!</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-building-o"></i></div>
                                <h4 class="featureName"><a href="#">Awesome Control Panel</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-lock"></i></div>
                                <h4 class="featureName"><a href="#">Secure Your Website</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-desktop"></i></div>
                                <h4 class="featureName"><a href="#">Free Website Builder</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-sun-o"></i></div>
                                <h4 class="featureName"><a href="#">Free Instant Setup!</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-building-o"></i></div>
                                <h4 class="featureName"><a href="#">Awesome Control Panel</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-lock"></i></div>
                                <h4 class="featureName"><a href="#">Secure Your Website</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-desktop"></i></div>
                                <h4 class="featureName"><a href="#">Free Website Builder</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                    </div><!-- end of features gallary -->

                </div><!-- end of row -->
            </div><!-- end of container -->
        </div><!-- end of section wrapper -->
    </section><!-- end features section -->


    <!-- Clients -->
    <section class="clients section mainSection scrollAnchor lightSection" id="clients">
        <div class="sectionWrapper">
            <div class="container">

                <div class="row">

                    <div class="col-md-12 sectionTitle">
                        <h2 class="sectionHeader">
                            Why You Are Hesitated, Join Our Happy Customers Now !
                            <span class="generalBorder"></span>
                        </h2><!-- end of sectionHeader -->
                    </div><!-- end of section title -->

                </div><!-- end of row -->

                <div class="row">

                    <div class="clientsCarousel owl-carousel clientsGallary">

                        <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                            <a class="singleClient" href="#" title="client">
                                <img alt="client 1" src="{{ STATIC_PREFIX }}images/clients/1.png" title="client">
                            </a><!-- end of single client -->
                        </div><!-- end of single client wrapper -->

                        <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                            <a class="singleClient" href="#" title="client">
                                <img alt="client 2" src="{{ STATIC_PREFIX }}images/clients/2.png" title="client">
                            </a><!-- end of single client -->
                        </div><!-- end of single client wrapper -->

                        <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                            <a class="singleClient" href="#" title="client">
                                <img alt="client 3" src="{{ STATIC_PREFIX }}images/clients/3.png" title="client">
                            </a><!-- end of single client -->
                        </div><!-- end of single client wrapper -->

                        <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                            <a class="singleClient" href="#" title="client">
                                <img alt="client 4" src="{{ STATIC_PREFIX }}images/clients/4.png" title="client">
                            </a><!-- end of single client -->
                        </div><!-- end of single client wrapper -->

                        <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                            <a class="singleClient" href="#" title="client">
                                <img alt="client 5" src="{{ STATIC_PREFIX }}images/clients/5.png" title="client">
                            </a><!-- end of single client -->
                        </div><!-- end of single client wrapper -->

                        <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                            <a class="singleClient" href="#" title="client">
                                <img alt="client 6" src="{{ STATIC_PREFIX }}images/clients/6.png" title="client">
                            </a><!-- end of single client -->
                        </div><!-- end of single client wrapper -->

                        <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                            <a class="singleClient" href="#" title="client">
                                <img alt="client 7" src="{{ STATIC_PREFIX }}images/clients/7.png" title="client">
                            </a><!-- end of single client -->
                        </div><!-- end of single client wrapper -->

                        <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                            <a class="singleClient" href="#" title="client">
                                <img alt="client 8" src="{{ STATIC_PREFIX }}images/clients/8.png" title="client">
                            </a><!-- end of single client -->
                        </div><!-- end of single client wrapper -->

                        <!-- end of single client wrapper -->

                    </div><!-- end of clients gallary -->

                </div><!-- end of row -->

            </div>
        </div>
    </section><!-- end clients section -->
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var bodyClass = "style-2";
        var link = "home";
    </script>
{% endblock %}
