{% extends "base.html" %}


{% block header %}
    <!-- Page Header -->
    <section class="pageHeader section mainSection scrollAnchor darkSection" id="pageHeader">
        {% include "shared/header.html" %}
    </section><!-- end of Page Header -->
{% endblock %}

{% block content %}
    <div class="pageInfo">
        <div class="cover"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h2 class="pageTitle">Web Hosting</h2>
                </div><!-- end of col-md-4 -->

                <div class="col-md-8">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Web Hosting</li>
                    </ol><!-- end of breadcrumb -->
                </div><!-- end of col-md-8 -->

            </div><!-- end of row -->
        </div><!-- end of container -->
    </div>

    <!-- Pricing -->
    <section class="pricing section mainSection scrollAnchor graySection style-5" id="pricing">
        <div class="sectionWrapper">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 sectionTitle">
                        <h2 class="sectionHeader">
                            Great Plans, Different Packages And Incredible Prices :)
                            <span class="generalBorder"></span>
                        </h2><!-- end of sectionHeader -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                    </div><!-- end of section title -->

                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable">
                            <header class="pricingHeader clearfix">
                                <h3 class="pricingTitle planTitle">Standard Plan</h3>
                                <div class="pricingPerMonth">10 $ Per Month</div>
                            </header><!-- end pricing header -->
                            <ul class="pricingBody planBody">
                                <li>Hosting acounts</li>
                                <li>100000 GB Bandwith</li>
                                <li>Unlimited email accounts</li>
                                <li>Unlimited FTP accounts</li>
                                <li>Enhanced security</li>
                                <li>24/7 Suport</li>
                                <li class="clearfix">
                                    <p><a class="generalLink moreDetails" href="#" title="More Details">Details</a></p>
                                    <p><a class="generalLink orderNow" href="#" title="Order">Order</a></p>
                                </li>
                            </ul><!-- end pricing body -->
                        </div><!-- end of pricing table -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable">
                            <header class="pricingHeader clearfix">
                                <h3 class="pricingTitle planTitle">Basic Plan</h3>
                                <div class="pricingPerMonth">20 $ Per Month</div>
                            </header><!-- end pricing header -->
                            <ul class="pricingBody planBody">
                                <li>Hosting acounts</li>
                                <li>100000 GB Bandwith</li>
                                <li>Unlimited email accounts</li>
                                <li>Unlimited FTP accounts</li>
                                <li>Enhanced security</li>
                                <li>24/7 Suport</li>
                                <li class="clearfix">
                                    <p><a class="generalLink moreDetails" href="#" title="More Details">Details</a></p>
                                    <p><a class="generalLink orderNow" href="#" title="Order">Order</a></p>
                                </li>
                            </ul><!-- end pricing body -->
                        </div><!-- end of pricing table -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable">
                            <header class="pricingHeader clearfix">
                                <img src="{{ STATIC_PREFIX }}images/ribbon-pink.png" alt="ribbon" class="ribbon">
                                <h3 class="pricingTitle planTitle">Professional Plan</h3>
                                <div class="pricingPerMonth">30 $ Per Month</div>
                            </header><!-- end pricing header -->
                            <ul class="pricingBody planBody">
                                <li>Hosting acounts</li>
                                <li>100000 GB Bandwith</li>
                                <li>Unlimited email accounts</li>
                                <li>Unlimited FTP accounts</li>
                                <li>Enhanced security</li>
                                <li>24/7 Suport</li>
                                <li class="clearfix">
                                    <p><a class="generalLink moreDetails" href="#" title="More Details">Details</a></p>
                                    <p><a class="generalLink orderNow" href="#" title="Order">Order</a></p>
                                </li>
                            </ul><!-- end pricing body -->
                        </div><!-- end of pricing table -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable">
                            <header class="pricingHeader clearfix">
                                <h3 class="pricingTitle planTitle">Ultra Plan</h3>
                                <div class="pricingPerMonth">40 $ Per Month</div>
                            </header><!-- end pricing header -->
                            <ul class="pricingBody planBody">
                                <li>Hosting acounts</li>
                                <li>100000 GB Bandwith</li>
                                <li>Unlimited email accounts</li>
                                <li>Unlimited FTP accounts</li>
                                <li>Enhanced security</li>
                                <li>24/7 Suport</li>
                                <li class="clearfix">
                                    <p><a class="generalLink moreDetails" href="#" title="More Details">Details</a></p>
                                    <p><a class="generalLink orderNow" href="#" title="Order">Order</a></p>
                                </li>
                            </ul><!-- end pricing body -->
                        </div><!-- end of pricing table -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable">
                            <header class="pricingHeader clearfix">
                                <h3 class="pricingTitle planTitle">Standard Plan</h3>
                                <div class="pricingPerMonth">10 $ Per Month</div>
                            </header><!-- end pricing header -->
                            <ul class="pricingBody planBody">
                                <li>Hosting acounts</li>
                                <li>100000 GB Bandwith</li>
                                <li>Unlimited email accounts</li>
                                <li>Unlimited FTP accounts</li>
                                <li>Enhanced security</li>
                                <li>24/7 Suport</li>
                                <li class="clearfix">
                                    <p><a class="generalLink moreDetails" href="#" title="More Details">Details</a></p>
                                    <p><a class="generalLink orderNow" href="#" title="Order">Order</a></p>
                                </li>
                            </ul><!-- end pricing body -->
                        </div><!-- end of pricing table -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable">
                            <header class="pricingHeader clearfix">
                                <h3 class="pricingTitle planTitle">Basic Plan</h3>
                                <div class="pricingPerMonth">20 $ Per Month</div>
                            </header><!-- end pricing header -->
                            <ul class="pricingBody planBody">
                                <li>Hosting acounts</li>
                                <li>100000 GB Bandwith</li>
                                <li>Unlimited email accounts</li>
                                <li>Unlimited FTP accounts</li>
                                <li>Enhanced security</li>
                                <li>24/7 Suport</li>
                                <li class="clearfix">
                                    <p><a class="generalLink moreDetails" href="#" title="More Details">Details</a></p>
                                    <p><a class="generalLink orderNow" href="#" title="Order">Order</a></p>
                                </li>
                            </ul><!-- end pricing body -->
                        </div><!-- end of pricing table -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable">
                            <header class="pricingHeader clearfix">
                                <h3 class="pricingTitle planTitle">Professional Plan</h3>
                                <div class="pricingPerMonth">30 $ Per Month</div>
                            </header><!-- end pricing header -->
                            <ul class="pricingBody planBody">
                                <li>Hosting acounts</li>
                                <li>100000 GB Bandwith</li>
                                <li>Unlimited email accounts</li>
                                <li>Unlimited FTP accounts</li>
                                <li>Enhanced security</li>
                                <li>24/7 Suport</li>
                                <li class="clearfix">
                                    <p><a class="generalLink moreDetails" href="#" title="More Details">Details</a></p>
                                    <p><a class="generalLink orderNow" href="#" title="Order">Order</a></p>
                                </li>
                            </ul><!-- end pricing body -->
                        </div><!-- end of pricing table -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable">
                            <header class="pricingHeader clearfix">
                                <h3 class="pricingTitle planTitle">Ultra Plan</h3>
                                <div class="pricingPerMonth">40 $ Per Month</div>
                            </header><!-- end pricing header -->
                            <ul class="pricingBody planBody">
                                <li>Hosting acounts</li>
                                <li>100000 GB Bandwith</li>
                                <li>Unlimited email accounts</li>
                                <li>Unlimited FTP accounts</li>
                                <li>Enhanced security</li>
                                <li>24/7 Suport</li>
                                <li class="clearfix">
                                    <p><a class="generalLink moreDetails" href="#" title="More Details">Details</a></p>
                                    <p><a class="generalLink orderNow" href="#" title="Order">Order</a></p>
                                </li>
                            </ul><!-- end pricing body -->
                        </div><!-- end of pricing table -->
                    </div>

                </div><!-- end of row-->
            </div><!-- end of container -->
        </div><!-- end of section wrapper -->
    </section><!-- end of pricing section -->

    <!-- Domain Search -->
    <section class="domainSearch section mainSection scrollAnchor darkSection" id="domainSearch">
        <div class="sectionWrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 sectionTitle">
                        <h2 class="sectionHeader">
                            Wanna Have The Right Domain? Search For It Now
                            <span class="generalBorder"></span>
                        </h2><!-- end of sectionHeader -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                    </div><!-- end of section title -->

                    <form class="col-md-12 domainSearchForm">
                        <ul class="formSearchUl clearfix">
                            <li>
                                <input class="domainSearchBar" value="Enter Your Domain Now Here And Start Searching" onblur="if(this.value=='')this.value='Enter Your Domain Now Here And Start Searching'" onfocus="if(this.value=='Enter Your Domain Now Here And Start Searching')this.value=''" id="domainSearchBar" name="domainSearchBar" type="search">
                                <select id="domainEx">
                                    <option data-description="( From $5 / Year )" value="com">.COM</option>
                                    <option data-description="( From $5 / Year )" value="net">.NET</option>
                                    <option data-description="( From $5 / Year )" value="org">.ORG</option>
                                    <option data-description="( From $5 / Year )" value="me">.ME</option>
                                </select>
                            </li>
                            <li>
                                <button class="searchBtn" id="searchBtn" type="submit">
                                    <i class="animated fa fa-search"></i>
                                </button>
                            </li>
                        </ul>
                    </form><!-- end of domain search form -->

                </div><!-- end of row -->
            </div><!-- end of container -->
        </div><!-- end of section wrapper -->
    </section><!-- end of domain search section -->

    <!-- Features -->
    <section class="features section mainSection scrollAnchor lightSection" id="features">
        <div class="sectionWrapper">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 sectionTitle">
                        <h2 class="sectionHeader">
                            Don’t Hesitate, Seven Host Provide Awesome &amp; Perfect Features For You
                            <span class="generalBorder"></span>
                        </h2><!-- end of sectionHeader -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                    </div><!-- end of section title -->
                </div><!-- end of row -->

                <div class="row">
                    <div class="featuresCarousel carousel owl-carousel featuresGallary">

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-sun-o"></i></div>
                                <h4 class="featureName"><a href="#">Free Instant Setup!</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-building-o"></i></div>
                                <h4 class="featureName"><a href="#">Awesome Control Panel</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-lock"></i></div>
                                <h4 class="featureName"><a href="#">Secure Your Website</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-desktop"></i></div>
                                <h4 class="featureName"><a href="#">Free Website Builder</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-sun-o"></i></div>
                                <h4 class="featureName"><a href="#">Free Instant Setup!</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-building-o"></i></div>
                                <h4 class="featureName"><a href="#">Awesome Control Panel</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-lock"></i></div>
                                <h4 class="featureName"><a href="#">Secure Your Website</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-desktop"></i></div>
                                <h4 class="featureName"><a href="#">Free Website Builder</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-sun-o"></i></div>
                                <h4 class="featureName"><a href="#">Free Instant Setup!</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-building-o"></i></div>
                                <h4 class="featureName"><a href="#">Awesome Control Panel</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-lock"></i></div>
                                <h4 class="featureName"><a href="#">Secure Your Website</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                        <div class="col-md-3 col-sm-6 item feature singleFeatureWrapper">
                            <div class="singleFeature">
                                <div class="featureIcon"><i class="animated fa fa-desktop"></i></div>
                                <h4 class="featureName"><a href="#">Free Website Builder</a></h4>
                                <p class="featureDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div><!-- end of single feature -->
                        </div><!-- end of single feature wrapper -->

                    </div><!-- end of features gallary -->

                </div><!-- end of row -->
            </div><!-- end of container -->
        </div><!-- end of section wrapper -->
    </section><!-- end features section -->

    <!-- Purchase -->
    <section class="purchase purchase2 section mainSection scrollAnchor accentSection style-5" id="purchase">
        <div class="sectionWrapper">
            <div class="container">

                <div class="row">
                    <div class="col-md-9 sectionTitle">
                        <h2 class="sectionHeader">
                            Why You Are Late! Purchase Seven Host Template Now
                        </h2><!-- end of sectionHeader -->
                    </div><!-- end of section title -->

                    <div class="col-md-3">
                        <p class="links animated">
                            <a class="generalLink lg" href="#">Purchase Now</a>
                        </p><!-- end of links -->
                    </div><!-- end of col-md-4 -->

                </div><!-- end of row -->

            </div><!-- end of container -->
        </div><!-- end of section wrapper -->
    </section><!-- end purchase section -->

{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        var link = "hosting";
    </script>
{% endblock %}