{% extends "base.html" %}


{% block header %}
    <!-- Page Header -->
    <section class="pageHeader section mainSection scrollAnchor darkSection" id="pageHeader">
        {% include "shared/header.html" %}
    </section><!-- end of Page Header -->
{% endblock %}

{% block content %}
 <!-- Page Info -->
        <div class="pageInfo">
          <div class="cover"></div>
          <div class="container">
            <div class="row">

              <div class="col-md-4">
                <h2 class="pageTitle">Services</h2>
              </div><!-- end of col-md-4 -->

              <div class="col-md-8">
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li class="active">Services</li>
                </ol><!-- end of breadcrumb -->
              </div><!-- end of col-md-8 -->

            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of page info -->

      <!-- Welcome -->
      <section class="welcome section mainSection scrollAnchor lightSection" id="welcome">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">

              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Welcome To Seven Host , Awesome Hosting Template
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
              </div><!-- end of section title -->

            </div><!-- end of row -->

            <div class="row">
              <div class="servicesCarousel carousel owl-carousel servicesGallary">

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">System Admin</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Worldwide locations</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">System Admin</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Worldwide locations</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">System Admin</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Worldwide locations</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div>
                  <!-- end of single service -->
                </div><!-- end of single service wrapper -->
              </div><!-- end of services gallary -->

            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end welcome section -->


      <!-- Welcome -->
      <section class="welcome section mainSection scrollAnchor graySection style-6" id="welcome2">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">

              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Welcome To Seven Host , Awesome Hosting Template
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
              </div><!-- end of section title -->

            </div><!-- end of row -->

            <div class="row">
              <div id="servicesCarousel2" class="servicesCarousel servicesCarousel2 owl-carousel servicesGallary">

                <div class="col-md-4 col-sm-6 item service singleServiceWrapper2">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">System Admin</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-4 col-sm-6 item service singleServiceWrapper2">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">Backups &amp; Storage</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-4 col-sm-6 item service singleServiceWrapper2">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">24 / 7 Live Support</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-4 col-sm-6 item service singleServiceWrapper2">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">System Admin</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-4 col-sm-6 item service singleServiceWrapper2">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">Backups &amp; Storage</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-4 col-sm-6 item service singleServiceWrapper2">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">24 / 7 Live Support</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-4 col-sm-6 item service singleServiceWrapper2">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">System Admin</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-4 col-sm-6 item service singleServiceWrapper2">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">Backups &amp; Storage</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-4 col-sm-6 item service singleServiceWrapper2">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">24 / 7 Live Support</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

              </div><!-- end of services gallary -->

            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end welcome section -->


      <!-- Welcome -->
      <section class="welcome welcome2 section mainSection scrollAnchor lightSection" id="welcome3">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">

              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Welcome To Seven Host , Awesome Hosting Template
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
              </div><!-- end of section title -->

            </div><!-- end of row -->

            <div class="row">
              <div class="servicesCarousel servicesGallary">

                <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">System Admin</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                      <a class="readMore generalLink" href="#">Read More</a>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">Backups &amp; Storage</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                      <a class="readMore generalLink" href="#">Read More</a>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">24 / 7 Live Support</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                      <a class="readMore generalLink" href="#">Read More</a>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">Worldwide locations</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                      <a class="readMore generalLink" href="#">Read More</a>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

              </div><!-- end of services gallary -->

            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end welcome section -->


      <!-- Welcome -->
      <section class="welcome section mainSection scrollAnchor graySection style-5" id="welcome4">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">

              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Welcome To Seven Host , Awesome Hosting Template
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
              </div><!-- end of section title -->

            </div><!-- end of row -->

            <div class="row">
              <div class="servicesCarousel carousel owl-carousel servicesGallary">

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">System Admin</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Worldwide locations</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">System Admin</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Worldwide locations</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">System Admin</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <h3 class="serviceName">Worldwide locations</h3>
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div>
                  <!-- end of single service -->
                </div><!-- end of single service wrapper -->
              </div><!-- end of services gallary -->

            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end welcome section -->


      <!-- Welcome -->
      <section class="welcome section mainSection scrollAnchor lightSection" id="welcome5">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">

              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Welcome To Seven Host , Awesome Hosting Template
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
              </div><!-- end of section title -->

            </div><!-- end of row -->

            <div class="row">
              <div class="servicesCarousel carousel owl-carousel servicesGallary">

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <h3 class="serviceName">System Admin</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <h3 class="serviceName">Worldwide locations</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <h3 class="serviceName">System Admin</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <h3 class="serviceName">Worldwide locations</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <h3 class="serviceName">System Admin</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <h3 class="serviceName">Worldwide locations</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div>
                  <!-- end of single service -->
                </div><!-- end of single service wrapper -->
              </div><!-- end of services gallary -->

            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end welcome section -->


      <!-- Welcome -->
      <section class="welcome section mainSection scrollAnchor lightSection style-7" id="welcome6">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">

              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Welcome To Seven Host , Awesome Hosting Template
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
              </div><!-- end of section title -->

            </div><!-- end of row -->

            <div class="row">
              <div class="servicesCarousel carousel owl-carousel servicesGallary">

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <h3 class="serviceName">System Admin</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <h3 class="serviceName">Worldwide locations</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <h3 class="serviceName">System Admin</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <h3 class="serviceName">Worldwide locations</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div>
                    <h3 class="serviceName">System Admin</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div>
                    <h3 class="serviceName">Backups &amp; Storage</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div>
                    <h3 class="serviceName">24 / 7 Live Support</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->

                <div class="col-md-3 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div>
                    <h3 class="serviceName">Worldwide locations</h3>
                    <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <a class="readMore generalLink" href="#">Read More</a>
                  </div>
                  <!-- end of single service -->
                </div><!-- end of single service wrapper -->
              </div><!-- end of services gallary -->

            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end welcome section -->

      <!-- Purchase -->
      <section class="purchase purchase2 section mainSection scrollAnchor accentSection style-5" id="purchase">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">
              <div class="col-md-9 sectionTitle">
                <h2 class="sectionHeader">
                  Why You Are Late! Purchase Seven Host Template Now
                </h2><!-- end of sectionHeader -->
              </div><!-- end of section title -->

              <div class="col-md-3">
                <p class="links animated">
                  <a class="generalLink lg" href="#">Purchase Now</a>
                </p><!-- end of links -->
              </div><!-- end of col-md-4 -->

            </div><!-- end of row -->

          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end purchase section -->

{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        var link = "services";
    </script>
{% endblock %}