
<div class="topMenu navBar">
    <div class="container">
        <div class="row">

            <ul class="topSocial socialNav col-md-6 col-sm-12">
                <li class="facebook"><a href="#"><i class="animated fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="animated fa fa-twitter"></i></a></li>
                <li class="rss"><a href="#"><i class="animated fa fa-rss"></i></a></li>
                <li class="lang">
                    <form  method="POST" class="langForm">
                        <select name="language" id="language">
                            <option disabled="disabled" value="NoSeclect">Language</option>
                            <option value="En">English</option>
                            <option value="Ar">Arabic</option>
                            <option value="Fr">French</option>
                        </select>
                    </form><!-- end of lang form -->
                </li><!-- end of lang -->
            </ul><!-- end of top social -->

            <div class="topContact col-md-6 col-sm-12">
           <ul class="clearfix">
                        <li><input type="search" value="search here"  name="s" id="sideSearch" class="sideSearch top-search"></li>
                        <li><button type="submit"><i class="animated fa fa-search"></i></button></li>
                      </ul>
            </div><!-- end of top contacts -->


        </div><!-- end of row -->
    </div><!-- end of container -->
</div><!-- end of top menu -->

<!-- Header -->
<header class="header headerStyle1 style-1" id="header">
    <div class="sticky scrollHeaderWrapper">
        <div class="container">
            <div class="row">

                <div class="logoWrapper">
                    <img src="{{ STATIC_PREFIX }}images/logo.png" width="89" alt="logo" style="margin: 6px 0;" />
                    <!-- end of logo -->
                </div><!-- end of logoWrapper -->

                <nav class="mainMenu mainNav" id="mainNav">
                    <ul class="navTabs">
                        <li>
                            <a href="/" id="home" class="active">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}" id="about">About Us</a>
                        </li>
                        <li>
                            <a href="{% url 'portfolio' %}" id="portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a href="{% url 'hosting' %}" id="hosting">Web Hosting</a>
                        </li>
                        <li>
                            <a href="{% url 'cloud' %}" id="cloud">Cloud</a>
                        </li>
                        <li>
                            <a href="{% url 'services' %}" id="services">Services</a>
                            <ul class="dropDown sub-menu">
                                <li>
                                    <a href="{% url 'services' %}">Web Developing</a>
                                </li>
                                <li><a href="{% url 'services' %}">Web Design</a></li>
                                <li><a href="{% url 'services' %}">Logo Creation</a></li>
                                <li><a href="{% url 'services' %}">Programming</a></li>
                            </ul><!-- end of dropdown -->
                        </li>
                        <li>
                            <a href="{% url 'contact' %}" id="contact">Contact Us</a>
                        </li>

                        <li class="login formTop">
                            <button class="formSwitcher"  data-toggle="modal" data-target="#loginModal">Login</button>
                            <div class="modal loginModal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="container">
                                    <ol class="formWrapper loginFormWrapper" id="loginFormWrapper">
                                        <li><h5><i class="fa fa-user"></i>Login Area</h5></li>
                                        <li>
                                            <form class="loginForm" method="POST">
                                                <input class="loginName" id="loginName" name="loginName" placeholder="Name" type="text">
                                                <input class="loginPassword" id="loginPassword" name="loginPassword" placeholder="Password" type="password">
                                                <input type="checkbox" name="remember" id="remember">
                                                <label for="remember">Remember Me</label>
                                                <button class="generalBtn loginBtn" type="submit">Login</button>
                                            </form>
                                        </li>
                                        <li class="register"><p><a href="register.html">Create A new Account</a></p></li>
                                    </ol>
                                </div><!-- end of container -->
                            </div><!-- end of modal -->
                            <a href="login.html">Login</a>
                        </li>
                    </ul><!-- end of nav tabs -->
                </nav><!-- end of main nav -->

                <a href="#" class="generalLink" id="responsiveMainNavToggler"><i class="fa fa-bars"></i></a>
                <div class="clearfix"></div><!-- end of clearfix -->
                <div class="responsiveMainNav"></div><!-- end of responsive main nav -->

            </div><!-- end of row -->
        </div><!-- end of container -->
    </div><!-- end of sticky -->
</header><!-- end of header -->

